<%= semantic_form_for @page do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.input :title %>
    <%= f.input :content %>
  <% end %>

  <% if controller.action_name == "edit" %>
    <%= f.inputs :for => :history do |history| %>
      <%= history.input :note, :placeholder => "Please leave a note about what you changed." %>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= link_to 'Cancel', pages_path, :class => "button grey danger"%>
    <%= f.button "Submit", :class => "button green" %>
  </div>
<% end %>
