<h2 class="title-bar">History of Page: <%= @page.title %></h2>
<div class="contents">
  <% @histories.each do |date, items| %>
    <h3 class="sub-title"><%= time_tag(date) %></h3>
    <ul class="sub-list">
      <% items.each do |item| %>
      <li>
        <%= image_tag Gravatar.new(item.user.email).image_url %>
        <div class="information">
          <div class="title" >
            <%= link_to item.note, diff_page_path(item) %>
          </div>
          <div>
            By: <%= item.user.full_name %>
            <%= distance_of_time_in_words(item.created_at, Time.now) %> ago
          </div>
        </div>
        <div class="actions">
          <%= link_to "View Diff",  diff_page_path(item), :class => "button grey" %>
        </div>
        <div class="clear"></div>
      </li>
      <% end %>
    </ul>
  <% end %>
</div>