<h2 class="title-bar">
  Pages Directory
  <%= link_to 'New Page', new_page_path, :class => "button green right" %>
</h2>

<div class="contents">
  <% if Page.all.empty? %>
    <div class="empty">
      Click Here to Add Your First Page!
    </div>
  <% else %>
    <ul id="directory" class="sub-list">
    <% @pages.each do |page| %>
      <li>
      <%= image_tag Gravatar.new(page.user.email).image_url %>
      <div class="information">
        <div class="title">
          <%= link_to page.title, page %>
        </div>
        <div class="details">
          By: <%= page.user.full_name %>, authored on
          <%= time_tag(page.created_at) %>
        </div>
      </div>
      <div class="actions">
        <%= link_to 'View', page, :class => "button grey" %>
        <%= link_to 'Edit', edit_page_path(page), :class => "button grey" %>
        <%= link_to 'Remove', page, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button grey danger" %>
      </div>
      <div class ="clear">
      </li>
    <% end %>
    </ul>
  <% end %>
</div>