<h1>Pages Directory</h1>

<div class="form-actions">
  <%= link_to 'New Page', new_page_path, :class => "button green" %>
</div>

<% if Page.all.empty? %>
  <div class="empty">
    Click Here to Add Your First Page!
  </div>
<% end %>

<% @pages.each do |page| %>
<div class="page">
  <%= image_tag Gravatar.new(page.user.email).image_url %><br/>
  <table class="details">
    <tr><td><b>Title:</b></td><td><%= page.title %></td></tr>
    <tr><td><b>Author:</b></td><td><%= page.user.full_name %><br/></td></tr>
    <tr><td><b>Created:</b></td><td><%= distance_of_time_in_words(page.created_at, Time.now) %> ago</td></tr>
  </table>
  <div class="actions">
    <%= link_to 'View', page, :class => "button grey" %>
    <%= link_to 'Edit', edit_page_path(page), :class => "button grey" %>
    <%= link_to 'Remove', page, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button grey danger" %>
  </div>
  <div class="clear"></div>
</div>
<% end %>
<br />

<div class="form-actions">
  <%= link_to 'New Page', new_page_path, :class => "button green" %>
</div>
