<p id="notice"><%= notice %></p>
<% title @page.title %>
By: <%= @page.author %> | Last Updated: <%= time_tag(@page.updated_at) %>
<div class="form-actions">
  <%= link_to 'Back', pages_path, :class => "button grey" %>
  <%= link_to 'Edit', edit_page_path(@page), :class => "button green" %>
</div>
<hr/>

<p>
  <%= markdown @page.content %>
</p>

<hr/>
<div class="form-actions">
  <%= link_to 'Back', pages_path, :class => "button grey" %>
  <%= link_to 'Edit', edit_page_path(@page), :class => "button green" %>
</div>