<h2 class="title-bar">
  <%= image_tag Gravatar.new(@page.user.email).image_url %>
  <div>
    <div class="information" >
      <div class="title" >
        <%= @page.title %>
      </div>
      <div class="details">
        By: <%= @page.user.full_name %>, authored <%= distance_of_time_in_words(@page.created_at, Time.now) %> ago
      </div>
    </div>
  </div>
  <div class="actions">
    <%= link_to 'Edit', edit_page_path(@page), :class => "button grey danger" %>
    <%= link_to 'History', history_page_path(@page.id), :class => "button grey" %>
    <%= link_to 'Back', pages_path, :class => "button grey" %>
  </div>
  <div class="clear"></div>
</h2>
<div class="contents">
  <%= markdown @page.content %>
</div>

